<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="org.API.Listener.TestListener"/>
    </listeners>
    <test name="C:\Users\Pooja.P\IdeaProjects\API_Automation_Assignment\src">
        <classes>
            <class name="PracticeTestCases.HerokuAPP_Test">
            </class>
        </classes>
    </test>
</suite>